<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Containers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>HomeController</string>
			<key>Elements</key>
			<array>
				<dict>
					<key>Name</key>
					<string>MemberCenter</string>
					<key>Frame</key>
					<string>{{0.5,0},{160.5,138.5}}</string>
					<key>Tag</key>
					<integer>1</integer>
					<key>Title</key>
					<string>个人中心</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>NO</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/images_03.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>ProvideForTheAged</string>
					<key>Frame</key>
					<string>{{162,0},{158,193}}</string>
					<key>Tag</key>
					<integer>2</integer>
					<key>Title</key>
					<string>养老服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/images_05.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CommunityManage</string>
					<key>Frame</key>
					<string>{{0.5,138.5},{160.5,183.5}}</string>
					<key>Tag</key>
					<integer>3</integer>
					<key>Title</key>
					<string>社区管理</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>NO</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/images_08.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>RemoteVideo</string>
					<key>Frame</key>
					<string>{{162,194},{158,161}}</string>
					<key>Tag</key>
					<integer>4</integer>
					<key>Title</key>
					<string>远程视频</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>NO</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/images_10.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>VoiceService</string>
					<key>Frame</key>
					<string>{{0.5,322},{160.5,136}}</string>
					<key>Tag</key>
					<integer>5</integer>
					<key>Title</key>
					<string>语音服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>NO</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/images_12.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CallCenter</string>
					<key>Frame</key>
					<string>{{162,356},{158,102}}</string>
					<key>Tag</key>
					<integer>6</integer>
					<key>Title</key>
					<string>客服中心</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>NO</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/images_14.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>ProvideForTheAgedIndexController</string>
			<key>Elements</key>
			<array>
				<dict>
					<key>Name</key>
					<string>EmergencyService</string>
					<key>Frame</key>
					<string>{{21,52},{128.5,128.5}}</string>
					<key>Tag</key>
					<integer>1</integer>
					<key>Title</key>
					<string>紧急服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>Index/ylfw_tp1.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CommunityService</string>
					<key>Frame</key>
					<string>{{170.5,52},{128.5,128.5}}</string>
					<key>Tag</key>
					<integer>2</integer>
					<key>Title</key>
					<string>社区服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>Index/ylfw_tp2.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>LifeService</string>
					<key>Frame</key>
					<string>{{21,205},{128.5,128.5}}</string>
					<key>Tag</key>
					<integer>3</integer>
					<key>Title</key>
					<string>生活服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>Index/ylfw_tp3.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>FamilyService</string>
					<key>Frame</key>
					<string>{{170.5,205},{128.5,128.5}}</string>
					<key>Tag</key>
					<integer>4</integer>
					<key>Title</key>
					<string>亲情服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>Index/ylfw_tp4.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
