<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Containers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>HomeController</string>
			<key>Elements</key>
			<array>
				<dict>
					<key>Name</key>
					<string>MemberCenter</string>
					<key>Frame</key>
					<string>{{0,0},{80.5,91.5}}</string>
					<key>Tag</key>
					<integer>1</integer>
					<key>Title</key>
					<string>个人中心</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/01.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CallCenter</string>
					<key>Frame</key>
					<string>{{80.5,0},{80.5,91.5}}</string>
					<key>Tag</key>
					<integer>2</integer>
					<key>Title</key>
					<string>客服中心</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/02.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>VoiceService</string>
					<key>Frame</key>
					<string>{{0,91.5},{161,184}}</string>
					<key>Tag</key>
					<integer>3</integer>
					<key>Title</key>
					<string>语音服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/03.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>RemoteVideo</string>
					<key>Frame</key>
					<string>{{0,275.5},{161,184.5}}</string>
					<key>Tag</key>
					<integer>4</integer>
					<key>Title</key>
					<string>远程视频</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/04.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>ProvideForTheAged</string>
					<key>Frame</key>
					<string>{{161,0},{159,184}}</string>
					<key>Tag</key>
					<integer>5</integer>
					<key>Title</key>
					<string>智慧养老</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/05.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CommunityManage</string>
					<key>Frame</key>
					<string>{{161,184},{159,184}}</string>
					<key>Tag</key>
					<integer>6</integer>
					<key>Title</key>
					<string>社区办公</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>NO</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/06.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>SmartControl</string>
					<key>Frame</key>
					<string>{{161,368},{159,92}}</string>
					<key>Tag</key>
					<integer>7</integer>
					<key>Title</key>
					<string>智能控制</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>Index/07.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>ProvideForTheAgedIndexController</string>
			<key>Elements</key>
			<array>
				<dict>
					<key>Name</key>
					<string>EmergencyService</string>
					<key>Frame</key>
					<string>{{21,52},{128.5,128.5}}</string>
					<key>Tag</key>
					<integer>1</integer>
					<key>Title</key>
					<string>紧急服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>Index/ylfw_tp1.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>CommunityService</string>
					<key>Frame</key>
					<string>{{170.5,52},{128.5,128.5}}</string>
					<key>Tag</key>
					<integer>2</integer>
					<key>Title</key>
					<string>社区服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>Index/ylfw_tp2.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>LifeService</string>
					<key>Frame</key>
					<string>{{21,205},{128.5,128.5}}</string>
					<key>Tag</key>
					<integer>3</integer>
					<key>Title</key>
					<string>生活服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>Index/ylfw_tp3.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>FamilyService</string>
					<key>Frame</key>
					<string>{{170.5,205},{128.5,128.5}}</string>
					<key>Tag</key>
					<integer>4</integer>
					<key>Title</key>
					<string>亲情服务</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>Index/ylfw_tp4.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>DialingController</string>
			<key>Elements</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Dial01</string>
					<key>Frame</key>
					<string>{{0,0},{104,51}}</string>
					<key>Tag</key>
					<integer>1</integer>
					<key>Title</key>
					<string>1</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_01.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial02</string>
					<key>Frame</key>
					<string>{{104,0},{107.5,51}}</string>
					<key>Tag</key>
					<integer>2</integer>
					<key>Title</key>
					<string>2</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_02.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial03</string>
					<key>Frame</key>
					<string>{{211.5,0},{108.5,51}}</string>
					<key>Tag</key>
					<integer>3</integer>
					<key>Title</key>
					<string>3</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_03.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial04</string>
					<key>Frame</key>
					<string>{{0,51},{104,50}}</string>
					<key>Tag</key>
					<integer>4</integer>
					<key>Title</key>
					<string>4</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_04.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial05</string>
					<key>Frame</key>
					<string>{{104,51},{107.5,50}}</string>
					<key>Tag</key>
					<integer>5</integer>
					<key>Title</key>
					<string>5</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_05.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial06</string>
					<key>Frame</key>
					<string>{{211.5,51},{108.5,50}}</string>
					<key>Tag</key>
					<integer>6</integer>
					<key>Title</key>
					<string>6</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_06.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial07</string>
					<key>Frame</key>
					<string>{{0,101},{104,51}}</string>
					<key>Tag</key>
					<integer>7</integer>
					<key>Title</key>
					<string>7</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_07.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial08</string>
					<key>Frame</key>
					<string>{{104,101},{107.5,51}}</string>
					<key>Tag</key>
					<integer>8</integer>
					<key>Title</key>
					<string>8</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_08.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial09</string>
					<key>Frame</key>
					<string>{{211.5,101},{108.5,51}}</string>
					<key>Tag</key>
					<integer>9</integer>
					<key>Title</key>
					<string>9</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_09.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial10</string>
					<key>Frame</key>
					<string>{{0,152},{104,47}}</string>
					<key>Tag</key>
					<integer>10</integer>
					<key>Title</key>
					<string>10</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_10.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial11</string>
					<key>Frame</key>
					<string>{{104,152},{107.5,47}}</string>
					<key>Tag</key>
					<integer>11</integer>
					<key>Title</key>
					<string>11</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_11.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Dial12</string>
					<key>Frame</key>
					<string>{{211.5,152},{108.5,47}}</string>
					<key>Tag</key>
					<integer>12</integer>
					<key>Title</key>
					<string>12</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>{0,0,0}</string>
					<key>Image</key>
					<string>ProvideForTheAged/VOIP/keybord_12.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>SmartControlDetailController</string>
			<key>Elements</key>
			<array>
				<dict>
					<key>Name</key>
					<string>SwitchOff</string>
					<key>Frame</key>
					<string>{{106,63},{108,60}}</string>
					<key>Tag</key>
					<integer>1</integer>
					<key>Title</key>
					<string>关/OFF</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>SmartControl/device_off.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>SwitchOn</string>
					<key>Frame</key>
					<string>{{106,186},{108,60}}</string>
					<key>Tag</key>
					<integer>2</integer>
					<key>Title</key>
					<string>开/ON</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>SmartControl/device_on.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>SwitchSet</string>
					<key>Frame</key>
					<string>{{106,309},{108,60}}</string>
					<key>Tag</key>
					<integer>3</integer>
					<key>Title</key>
					<string>设置</string>
					<key>Font</key>
					<integer>16</integer>
					<key>TextAlignment</key>
					<string>Center</string>
					<key>Enabled</key>
					<string>YES</string>
					<key>Hidden</key>
					<string>NO</string>
					<key>BackgroundColor</key>
					<string>transparent</string>
					<key>Image</key>
					<string>SmartControl/device_set.png</string>
					<key>ElementType</key>
					<string>UIButton</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
