<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSkinName</key>
	<string>Default</string>
	<key>Skins</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Default</string>
			<key>Title</key>
			<string>默认</string>
		</dict>
	</array>
</dict>
</plist>
